html,body {
	height: 100%;
}

.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
	margin-top: 50px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .btn-primary {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
    margin-top: 40px;
}

.my-login-page .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #008000;
    border-color: #008000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-login-page .form-control:focus {
    color: #008000;
    background-color: #fff;
    border-color: #008000;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #008000;
}

.my-login-page a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.success-checkmark:after {
	content:'\2713';
	background: #008000;
    border-radius: 50%;
	display:inline-block;
	color:#ffffff;
	padding:6px;
	float:right;
	width: 40px;
	text-align: center;
  }

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  height: 70px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #ff0000;
}


@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
